/* common */
html{
  width: 100%;
  min-height: 100%;
}

body{
  background-color: black !important;
  margin: 0%;
  padding: 0%;
}

.section-header{
  color:  #CC4228;
  text-align: center;
  font-size: 2em !important;
  margin: 2% !important;
}

.under-line{
  border-color:  #CC4228 !important;
  margin-bottom: 5%;
}

/*For navbar*/
.nav-bar{
  background-color: black !important;
  color: #CC4228 !important;
}

.nav-items{
  display: flex;
  justify-content: space-between;
}


/* for sidebar */
.MuiDrawer-paperAnchorRight {
  background-color: black !important;
  color: #CC4228 !important;
  width: 25vw;
}
.MuiListItem-root{
  text-align: center !important;
  font-size: 1.5em;
}
.fas{
  color: #CC4228 !important;
}

/* For carousel/header */
.header{
  width: 100vw !important;
  height: 60vh;

  text-align: center;
  color: white;

  background: #780206 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header p:nth-child(1){
  padding-top: 25vh;
}

/*  for about section */
.under-line{
  width: 15% !important;
}

.profile-img-container{
  text-align: center;
}

.profile-img{
  flex-shrink: 0;
  width: 70%;
  height: 70%;
}

.intro-container{
  text-align: center;
}

.intro-container p{
  color: white;
}

.social-media-icons a{
  color: white;
}

.fab{
  margin: 2%;
  font-size: 180%;;
}

.fab:hover{
  color: #CC4228;
}

/* media queries */
